@font-face {
   font-family: "OpenSans-Regular";
 src: url("OpenSans-Regular.ttf")
 }
 @font-face {
    font-family: "nasa";
    src: url("nasalization-rg.ttf");
     }

 body {
 font-size: 14px;
 text-align: center; 
 max-width: 810px;
 background-color: #f2f2f2;
 font-family: "OpenSans-Regular";
 margin: 0px; 

 
}

header {
background-image: url(texture-header.jpg);
    background: auto 150px; 
    margin-right: -80%;
    
 }

nav  {
font-family: "OpenSans-regular";
 display:inline-block;
 background-color:#2e2f30; 
 width: 95%;
 padding-right: 50px;
 text-align: right;
 vertical-align: center;
 
 
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover{
    background-color:#17c1ff ;
}

   main 
{ width: 810px;
       text-align: center;
       margin-left: auto;
       margin-right: auto;
   }

header>h1{  
    font-family: "nasa";
    font-style: 40px;
    color: #27d1ff;
    text-align: center;
    vertical-align: middle;
    padding-top:5% ;

    }

   
         
.accueil {
    color:#17c1ff;
    background-color: grey;
    
}
.contact{
    color: #17c1ff;

}

.programme-lien {
    color: #17c1ff;
}
.programme {
   
    display: block;
    height: 80px;
    overflow: scroll;
    
}


footer>img, footer a{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -30%;
    left: 42%;
    margin-top: -50px;
    margin-left: -50px;
    
}

h2{
    
    background-color:lightgray ;
    text-align: center;
    vertical-align: center;
    width: 900px;
    color: black;
    
}

p{
    width: 750px;
    text-align: center;
    padding:10px;
}

.first {
    float: left;
}
.second {
    float: right;
}
    
.programme
{
    width: 300px;
    padding:8px;
    font-family: "OpenSans-Regular";
    margin-left: 25;
}

main table { 

    display: block;
    overflow: scroll;
    
}

form input:hover{
 border-color:#27d1ff;
 
 

}

div.button > button:hover {
    background-color:#27d1ff;
}



input{
    width: 250px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: #e6e6e6;
    
   
}

form{
    padding: 6%;
    width: auto;
    margin: 20%;
    font-family:"OpenSans-Regular";
    
    
}

main.cadre{
    border-width: 2px;
    border-style: solid;
    border-color: #e6e6e6;
    margin-left: 50%;
    
   
